/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bulma";
/* border theme */
#top, #bottom, #left, #right {
	background: #6e0e81;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
        
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 0;
}

header, footer {
    height: 70px;
}

header {
    background-color: #27ae60;
}
    
.navbar-item {
    margin-top: -60px;
}

footer {
	display: flex;
	justify-content: space-evenly;
	left: 0;
	bottom: 0;
}

.footer-item {
	display: inline-block;
	margin:0 85px 0 0;   
}

.gmail-icon,
.linkedin-icon,
.github-icon {
	width: 30px;
}

/* Remove border on smaller screens */
@media 
/* Fairly small screens including iphones */
only screen and (max-width: 500px),
/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
{
	#top, #bottom, #left, #right { display: none; }
}
