<footer>
    # <nav>
    #     <ul>
    #        <li class="footer-item">
    #         <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sandyvasquez9@google.com">
    #             <%= image_tag 'icons8-gmail-64.png', class: 'gmail-icon' %>
    #         </a>
    #         </li>
    #         <li class="footer-item">
    #         <a href="https://www.linkedin.com/in/vasquezsandy">
    #             <%= image_tag 'icons8-linkedin-64.png', class: 'linkedin-icon' %>
    #         </a>
    #         </li>
    #         <li class="footer-item">
    #         <a href="https://github.com/spv-hub">
    #             <%= image_tag 'icons8-github-64.png', class: 'github-icon' %>
    #         </a>
    #         </li>
    #     </ul>
    # </nav>
</footer>


